[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=google-api-lat-qml
Exec=/opt/google-api-lat-qml/bin/google-api-lat-qml
Icon=google-api-lat-qml64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
