
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=google-api-lat-qml
Exec=/usr/bin/single-instance /opt/googleapilatqml/bin/googleapilatqml
Icon=/usr/share/icons/hicolor/80x80/apps/googleapilatqml80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=googleapilatqml_harmattan.desktop
